@charset "utf8";


*{
    margin: 0px; /* config global parar tirar as bordas brancas*/
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
::webkit-scrolbar{   /* para ocultar o scroll bar*/
    width: 0px;
    height: 0px;
}


img {
    width: 100vw; /* largura copleta da tela, pois dentro de um iframe*/
}
a{
    display: block;
    background-color: darkred;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}
